ISUCON_DB_HOST="127.0.0.1"
ISUCON_DB_PORT="13306"
ISUCON_DB_USER="isucon"
ISUCON_DB_PASSWORD="isucon"
ISUCON_DB_NAME="isuride"

# マッチング間隔（秒）
ISUCON_MATCHING_INTERVAL=0.5

WORKER_NUM=16

ISU_ENABLE_DATADOG="true"
